<nav class="navbar navbar-fixed-bottom navbar-light bg-faded" id="footer">
   <p class="text-xs-center text-sm-center text-md-center text-lg-center text-xl-center">
     This site is an active open source project. Feel free to <%= link_to "contribute", "https://github.com/ZempTime/archrails.com", target: "_blank" %>.
   </p>
</nav>
