<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">About</h1>
  </div>
</div>

<div class="container">

  <h2>Who is this for?</h2>
  <p>
    ArchRails welcomes people of all skill levels, from “What’s Rails?” to “I contributed to Rails 5."
  </p>
  <p>
    The reason we all like Rails is because it helps us quickly build big ideas. You don't even need to be 'technical,'' if there's an idea you'd simply like to see exist and want to take the first steps to bring it to life, we'd love to help!
  </p>
  <p>
    We're an open source meetup for St. Louis Ruby on Rails community. In fact, <%= link_to "the site you're reading", "https://github.com/ZempTime/archrails.com/" %> is one of our projects.
  </p>

  <h2>What would I do?</h2>
  <p>
    In the past, we've done the whole 'meetup' thing, complete with talks, sponsors, and all the other standard meetup fare.
  </p>
  <p>
    But you know what?
  </p>
  <p>
    Even after the talks, people would still stick around and talk for the next hour and a half. What happens are deep, interesting conversations about substantial topics, and this is actually the valuable part of the meetup.
  </p>
  <p>
    So nowadays, we've cut the cruft: every month we all meet up at the same time and place and dive into one or two topics that matter.
  </p>

  <h2>How can I reach you?</h2>

  <p>
    organizer@archrails.com
  </p>

  <h2>Anything Else?</h2>
  <p>
    Yeah. If you RSVP, you get entered in a raffle for either cookies that my Mom makes, or a gag gift. This is to incentivize for accurate head counts which is really useful when planning, and also because the gag gifts are hilarious to choose and give away!
  </p>

</div>
