<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Contribute</h1>
  </div>
</div>
<div class="container">
  <p>
    This site is an <%= link_to "open-source Rails app", "https://github.com/ZempTime/archrails.com", target: "_blank" %>
    that everyone is welcome to contribute to. There are a couple ways:
  </p>

  <h2>I'm brand new to Rails...</h2>
  <p>
    We usually have some simpler features we'd like to get into the site that are
    specifically for you! Here's how it works:
  </p>
  <p>
    Any issue marked as 'Help Wanted' will contain a rough description of what
    needs to be done, and is assigned to a more experienced developer who will
    pair with you to help you get it shipped. Just comment on there letting them
    know you'd like to give it a shot, and they'll reassign it to you.
    Then you'll meet up in person with your pairing partner at the next ArchRails
    to meet in person.
  </p>
  <p>
    Now you've got a month to get it done, shipped, and deployed before the next
    meetup. Good luck!
  </p>
  <p>
    Check out the current 'help wanted' features <%= link_to "here", "https://github.com/ZempTime/archrails.com/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22", target: "_blank" %>.
  </p>

  <h2>I'd like to help mentor...</h2>
  <p>
    Open an issue, describe the feature, and assign it the label 'help wanted.'
    When someone wants to tackle it, find them at the next meetup to plan it out.
  </p>
  <p>
    Code it out and then help your partner PR it in!
  </p>
  <h2>I've got a feature idea...</h2>
  <p>
    PR it in!
  </p>
</div>
