<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">ArchRails</h1>
    <p class="lead">The Open Source Meetup</p>
  </div>
</div>

<div class="container">
  things to add:
  <h2>Gag Gift Ideas</h2>
  <h2>Discussion Suggestions</h2>
  <h2>Rails Directory</h2>
</div>
