<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Values</h1>
  </div>
</div>

<div class="container">
    <p>
      Curiosity - Wonder is fun.
    </p>
    <p>
      Sharing - Ideas are only valuable when they move.
    </p>
    <p>
      Honesty - Discernment leads to growth.
    </p>
    <p>
      Kindness - We were all new once, and will be again. aka tact
    </p>
    <p>
      Expedience - Do good, and do good business.
    </p>
</div
