<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3"> <%= titleize params[:category] %> Ideas</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <ul>
      <% @suggestions.each do |suggestion| %>
        <li>
          <%= suggestion.content %> <%= "- #{suggestion.author}" if suggestion.author? %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Back", root_path %>
  </div>
</div>
